%p#notice= notice

.col-md-3
  %p.lead Loja de discos
  .list-group
    = link_to categorias_path, class: "list-group-item" do
      %i.fa.fa-plus
      Cadastrar categoria
    = link_to discos_path, class: "list-group-item" do
      %i.fa.fa-music
      Cadastrar discos
    = link_to '#', class: "list-group-item" do
      %i.fa.fa-question-circle
      Sobre

.col-md-9 
  %p
    %b Name:
    = @categoria.name

  = link_to 'Edit', edit_categoria_path(@categoria)
  \|
  = link_to 'Back', categorias_path
